.player__container {
  margin: 3rem;
}

.player__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player__stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player__playerData {
  margin-left: 2rem;
  text-align: left;
}

.player__flag {
  width: 36px;
  height: 24px;
  margin-right: 1rem;
}

.player__win {
  color: green;
}

.player__loose {
  color: red;
}
